@import '../../style.scss';

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
    background-color: rgba($color: white, $alpha: .9);
    z-index: 999;

    .left{
        display: flex;
        align-items: center;
        gap: 30px;
        span{
            font-weight: bold;
            font-size: 20px;
            color: darkblue;

        }
        .search{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid lightgray;
            padding: 5px;



            input{
                outline: none;
                border: none;
                width: 500px;
                background: transparent;

                @include mobile {
                    display: none;
                }
            }
        }
    }
    .right{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        .navrightoptions{
            display: flex;
            gap: 10px;
            @include mobile {
                display: none;
            }
        }
        .user{

            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
            span{
                font-weight: 500;
                @include mobile {
                    display: none;
                }
            }
        }
    }
}